<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.gamedev.nehe.android.lesson01"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <!-- important for GLES 2!! -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Lesson01Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>